{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"experimentalOperatorPosition": "start",
	"experimentalTernaries": true,
	"htmlWhitespaceSensitivity": "css",
	"jsxSingleQuote": true,
	"objectWrap": "preserve",
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": [
		"^react",
		"^next",
		"<THIRD_PARTY_MODULES>",
		"^@/common/enums",
		"^@/common/interfaces",
		"^@/common/schemas",
		"^@/common/constants",
		"^@/common/(.*)$",
		"^@/hooks/(.*)$",
		"^@/components/(.*)$",
		"^@/lib/(.*)$",
		"^@/(.*)$",
		"^[./]",
		"\\.css$"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"printWidth": 120,
	"quoteProps": "consistent",
	"semi": false,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true
}
